
.chooseplan {
  $this: &;

  &__container {
    width: 100%;
    background-color: #fafafa;

    #{$this}__contain {
      padding: 80px 0;
    }
  }

  &__header {
    text-align: center;

    &-title {
      color: #0B132A;
      font-weight: 500;
      font-size: 2.1875rem;
      line-height: 3.125rem;
    }

    &-description {
      font-size: 1rem;
      max-width: 442px;
      margin: 20px auto 0;
      line-height: 1.875rem;
    }
  }

  &__body {
    #{$this}__plan {
      padding: 60px 0 0;

      display: flex;
      justify-content: space-between;

      &-item {
        width: 330px;
        height: 760px;
        cursor: pointer;
        border-radius: .625rem;
        background-color: #fff;
        border: solid 2px #DDDDDD;
        transition: all .3s ease-in-out;

        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;

        &:hover {
          border-color: #F5383880;
        }

        &.active {
          border-color: #F53838;

          // change button style when inside a box that is active
          button[class$="-button"] {
            color: #fff;
            background-color: #F53838;
            box-shadow: 0 5px 20px -7px #F53838;
          }
        }
      }

      &-icon {
        margin-top: 79px;
        max-width: 144px;
        max-height: 165px;

        img {
          object-fit: cover;
        }
      }

      &-details {
        flex: 1;
        width: 100%;
        text-align: center;

        .details {
          &__title {
            margin: 30px 0;
            font: 500 1.125rem 'Rubik', sans-serif;
          }

          &__list {
            margin: 0 auto;
            width: calc(100% - 110px);

            &-item {
              padding: 2px 0;
              color: #4F5665;
              font: 400 .875rem 'Rubik', sans-serif;

              display: flex;
              align-items: center;
              justify-content: flex-start;

              &:not(:first-child),
              &:not(:last-child) {
                margin: 10px 0;
              }

              .icon.checked {
                width: 24px;
                height: 24px;
                margin-right: 20px;
                display: inline-block;
                background: transparent url('../images/jam_check.svg') center / cover no-repeat;
              }
            }
          }
        }
      }

      &-buy {
        width: 100%;
        text-align: center;

        .buy__plan {
          &-price {
            color: #0B132A;
            font: 600 1.5625rem 'Rubik', sans-serif;
          }

          &-period {
            color: #4F5665;
            font-weight: 400;
          }

          &-button {
            width: 177px;
            height: 45px;
            cursor: pointer;
            color: #F53838;
            margin: 20px 0 50px;
            border-radius: 3.125rem;
            border: solid 2px #F53838;
            background-color: transparent;
            transition: all .3s ease-in-out;
            font: 700 1rem 'Rubik', sans-serif;
          }
        }
      }
    }
  }
}
