
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

body {
  scroll-behavior: smooth;
  background-color: #fff;

  .overlay {
    z-index: 96;
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity .3s $bezier,
      visibility .3s $bezier .3s;
    background-color: rgba($color: #000, $alpha: .4);

    &.visible {
      opacity: 1;
      visibility: visible;
      transition:
        opacity .3s $bezier,
        visibility .3s $bezier 0s;
    }
  }
}

button.button {
  color: #fff;
  cursor: pointer;
  border: 0 none;
  font-size: 1rem;
  height: 3.75rem;
  width: 15.625rem;
  font-weight: bold;

  margin-top: 3.125rem;
  line-height: 1.5625rem;
  border-radius: .625rem;
  background-color: #F53838;
  transition: all .2s ease-in-out;
  font-family: 'Rubik', sans-serif;

  box-shadow: 0px 2rem 1.6875rem -1.1875rem #f53838;

  &:active {
    transform: scale(.98);
  }
}

.button {
  width: auto;

  &__primary {
    color: #F53855;
    border-radius: 3.125rem;
    padding: .8125rem 2.8125rem;
    border: solid 1px #F53855;
    transition: all .2s ease-in-out;

    &:hover {
      background-color: #F53855;
    }
  }
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 71.25rem;

  @media (max-width: 71.25rem) {
    padding: 0 1rem;
  }
}


@media (min-width: 57.1875rem) {
  .hide__desktop {
    display: none !important;
  }
}

@media (max-width: 30.625rem) {
  .hide__mobile {
    display: none !important;
  }
}
