
.providers {
  $this: &;

  &__container {
    width: 100%;
    height: 39.6875rem;
    background-color: red;

    @extend %flexcentered;
  }

  &__contain {
    width: 100%;
    height: 25.9375rem;
    background-color: purple;

    @extend %flexcentered;
  }
}
