
.statistics {
  width: 100%;
  height: 12.5rem;
  margin-top: 6.375rem;

  @media (max-width: 37.5rem) {
    height: auto;
  }

  &__container {
    height: 100%;
  }

  &__contain {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @media (min-width: 71.25rem) {
      border-radius: .625rem;
      box-shadow: 0 20px 68px -38px #aaa;
    }
  }

  &__item {
    width: 11.25rem;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 37.5rem) {
      width: 200px;
      flex-direction: column;
    }

    @each $type in ( users, locations, servers ) {
      &.#{$type} .icon {
        background-image: url('/assets/images/statistics/#{$type}.svg');
      }
    }

    .icon {
      flex: 1 1 auto;
      display: inline-block;
      width: 3.4375rem;
      height: 3.4375rem;
      min-width: 3.4375rem;
      max-width: 3.4375rem;
      background-size: 100%;
      margin-right: 2.28125rem;
      background-position: center;
      background-repeat: no-repeat;

      @media (max-width: 37.5rem) {
        margin: 0 0 1rem;
      }
    }

    &__info {
      flex: 1 50%;

      @media (max-width: 37.5rem) {
        margin: 0;
        width: 100%;
        text-align: center;
      }

      &__title {
        flex: 1;
        font-weight: bold;
        font-size: 1.5625rem;
        line-height: 1.875rem;
        font-family: Rubik, sans-serif;
      }

      &__label {
        color: #4F5665;
        font-size: 1.25rem;
        line-height: 1.875rem;
        font-family: Rubik, sans-serif;
      }
    }
  }
}
