@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0 none;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 100%;
}

body {
  background-color: #fff;
}

button.button {
  color: #fff;
  cursor: pointer;
  border: 0 none;
  font-size: 1rem;
  height: 3.75rem;
  width: 15.625rem;
  font-weight: bold;
  margin-top: 3.125rem;
  line-height: 1.5625rem;
  border-radius: .625rem;
  background-color: #F53838;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  font-family: 'Rubik', sans-serif;
  -webkit-box-shadow: 0px 2rem 1.6875rem -1.1875rem #f53838;
          box-shadow: 0px 2rem 1.6875rem -1.1875rem #f53838;
}

button.button:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.button {
  width: auto;
}

.button__primary {
  color: #F53855;
  border-radius: 3.125rem;
  padding: .8125rem 2.8125rem;
  border: solid 1px #F53855;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.button__primary:hover {
  background-color: #F53855;
}

.container {
  margin: 0 auto;
  max-width: 71.25rem;
}

.header {
  width: 100%;
  height: 8.514375rem;
}

.header__container {
  width: 100%;
  height: 100%;
}

.header__contain {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__contain__nav {
  width: auto;
  height: 100%;
}

.header__contain__nav__list {
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.header__contain__nav__item a {
  color: #4F5665;
  font-size: 1rem;
  padding: 0 1.25rem;
  font-family: Rubik, sans-serif;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.header__contain__nav__item a:hover {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.header__beourcostumer {
  width: auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__beourcostumer a {
  font-size: 1rem;
  font-weight: 500;
  font-family: Rubik, sans-serif;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.header__beourcostumer a:not(.button) {
  color: #0B132A;
}

.header__beourcostumer a:not(.button):hover {
  color: #0b132ab8;
}

.header__beourcostumer a.button {
  margin-left: 1.875rem;
}

.header__beourcostumer a.button:hover {
  color: #fff;
}

.hero {
  width: 100%;
  height: 20.625rem;
  margin-top: 7.5rem;
}

.hero__container {
  width: 100%;
  height: 100%;
}

.hero__contain {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__contain__leftbox, .hero__contain__rightbox {
  -webkit-box-flex: 1;
      -ms-flex: 1 50%;
          flex: 1 50%;
  height: 100%;
}

.hero__contain__leftbox {
  min-width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__contain__leftbox__title {
  color: #0B132A;
  font-weight: 500;
  font-size: 3.125rem;
  line-height: 4.375rem;
  font-family: Rubik, sans-serif;
}

.hero__contain__leftbox__title .bold {
  font-weight: 700;
}

.hero__contain__leftbox__desc {
  color: #4F5665;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1.25rem;
  line-height: 1.875rem;
  font-family: Rubik, sans-serif;
}

.hero__contain__leftbox__desc .bold {
  font-weight: 500;
}

.hero__contain__rightbox__imagehero {
  width: 38.1875rem;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/illustration1.svg");
}
/*# sourceMappingURL=stylesheet.css.map */